.top-div{
    background-image: url("../img/bg1.png");
    height: 1050px;
   
    background-repeat: no-repeat;
    background-size: cover;
}


   /*navbar*/
   
   
nav{
    display: flex;
    gap: 35px;

}

.nav-cont{
    display: flex;
    gap: 250px;
    justify-content: center;
    padding: 50px;
}

/*hero section*/


.hero-container{
    
    display: flex;
    padding: 80px;
justify-content: center;

}
.hero-button{
    margin-top: 50px;
    margin-left: 120px;
}

/*dui man style*/


.dui-man1{

    border: 1px none ;
    height: 190px;
    width: 370px;
    padding-left: 50px;
    padding-top: 50px;
    background-color: #ffffff;
     margin-bottom: 200px;
     
     box-shadow:0px 10px 30px #9c9c9c;
    


}
    
.dui-man{
    display: flex;
    justify-content: center;
    gap: 60px;
    position: relative;
    margin-top: -115px;
}

/*three-icon-section*/


.three-icon{

   display: flex;
   justify-content: center;
   gap:280px;
}

.three-content{

    text-align: center;
}

/*Industry-section*/


.user{

    border: 1px solid  #737373;
    border-radius: 15px;
    height: 340px;
    width: 300px;
   padding-top: 40px;
    text-align: center;
    box-shadow:0px 10px 20px #eee;
    
    
}

.industry-section{

    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 60px;
    margin-bottom: 200px;
}

/*package-section*/


.package-content{
    border:2px solid #23a6f0 ;
    height: 650px;
    width: 300px;
    border-radius: 15px;

}


.package-container{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 100px;
}


.Contact{
    border: #737373 1px solid;
    height: 700px;
    width: 100%;

}
.bottom{

    display: flex;
    position: relative;
    justify-content: center;
    margin-top: -300px;

 

}


/*footer section*/


.footer-container{

    margin-top:100px;
}

.footer-content{

    display: flex;
    justify-content: center;
    gap: 300px;
    

}




